.carousel {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;

    .carousel-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        border: none;
        outline: none;
        user-select: none;
    }

    .carousel-arrow-left {
        left: 10px;
    }

    .carousel-arrow-right {
        right: 10px;
    }

    .carousel-counter {
        position: absolute;
        bottom: 10px;
        left: 50%;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 18px;
        font-family: $primary-font;
    }
}
