@import './mixins.scss';
@import './variables.scss';

//Components
@import './components/Navbar.scss';
@import './components/Footer.scss';
@import './components/Banner.scss';
@import './components/FlatsGrid.scss';
@import './components/FlatCard.scss';
@import './components/Carousel.scss';
@import './components/Tag.scss';
@import './components/Collapse.scss';

//Pages
@import './pages/Flat.scss';
@import './pages/Error.scss';
@import './pages/About.scss';


main {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
}
