@import './mixins.scss';
@import './variables.scss';
@import './components/Navbar.scss';
@import './components/Banner.scss';
@import './components/FlatsGrid.scss';
@import './components/FlatCard.scss';

* {
    box-sizing: border-box;
    margin: 0 25px;
    padding: 0;

}
