// Colors
$primary-color: #FF6060;
$secondary-color: #000000;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
$primary-font: 'Montserrat', sans-serif;
